.work {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.work__Header {
  text-align: center;
  margin: 20px 0px;
}
.work__Container {
  display: flex;
  flex-direction: column;
}
.work__Image {
  width: 90vw;
  border: 1px solid black;
}
.work__Title {
  margin: 2vh 0px;
}
.work__Year {
  background-color: var(--deep-blue);
  border-radius: 16px;
  padding: 2px 3px 2px 8px;
  margin-right: 20px;
}
.work__Label {
  font-weight: 100;
}

.work__About {
  margin: 20px 0px;
  text-align: justify;
}
